body {
    background-color: #f4f6f8;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .card {
    border-radius: 1rem;
  }
  
  .progress-bar {
    font-weight: bold;
  }
  
  ul {
    margin-top: 10px;
  }
  